**/.exercism/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Editors
.idea/
.vscode/
*.swp
*.bak
*~

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# MyPy
.mypy_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Logs and Data
*.log
*.sqlite3
data/
